In [35]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
import scipy
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [36]:
sample_submission = pd.read_csv('sample_submission.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [37]:
train.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [38]:
test.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [39]:
train = train[0:100]
loss = train.loss[0:100]
train = train.drop(['loss', 'id'], axis = 1)
test = test[0:100].drop(['id'], axis = 1)

In [40]:
train_cat = train[train.columns[train.columns.str.contains('cat')]]
train_con = train[train.columns[train.columns.str.contains('con')]]

In [41]:
train_cat_fac = train_cat.apply(lambda x: pd.factorize(x)[0])
scaler = MinMaxScaler()
train_cat_scal = scaler.fit_transform(train_cat_fac)

In [42]:
train_cat_fac.head()

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,1,...,1,1,1,1,1,1,1,0,0,1
2,0,0,0,1,1,0,0,0,0,1,...,2,2,2,2,1,2,2,0,1,2
3,1,0,0,0,0,0,0,0,0,0,...,1,1,1,3,0,3,3,0,0,3
4,0,0,0,0,0,0,0,0,0,1,...,3,3,3,4,0,4,1,0,2,4

In [43]:
# train = pd.concat([train_cat_scal, train_con], axis = 0)

In [44]:
# x_train, x_validate, y_train, y_validate = train_test_split(train, loss, random_state = 0)

In [45]:
# sns.heatmap(train_con.corr())
# plt.show()

In [46]:
pca = PCA(n_components = 7)
con_pca = pca.fit_transform(data_con)
con_pca

NameError: name 'data_con' is not defined

In [51]:
normalizer = Normalizer()
cat_nom = normalizer.fit_transform(data_cat)
cat_nom

In [52]:
pca = PCA(n_components = 27)
cat_pca = pca.fit_transform(cat_nom)
cat_pca

## Kmeans

In [53]:
kmeans = KMeans(n_clusters = 2, random_state = 0)
kmeans.fit(data_cat)
# kmeans.score(data_cat)

## Feature selection

In [54]:
sel = VarianceThreshold(threshold = (0.8 * (1 - 0.8)))
sel.fit(data_cat)

## Xgboost

In [55]:
import xgboost as xgb
xgb = xgb.XGBClassifier()
xgb = xgb.fit(data_con[0:100], loss)

In [56]:
# xgb.score(data_cat[0:100], loss)

In [59]:
import pandas as pd
from util import Dataset

ModuleNotFoundError: No module named 'util'